DATABASE_URL="mysql://sfp:sfp@localhost:3306/sfp"
BETTER_AUTH_SECRET="change-me-use-openssl-rand-base64-32-min-32-chars"
BETTER_AUTH_URL="http://localhost:3000"
ALLOW_SIGNUP="true"
TZ="America/Bogota"
RUN_SEED="false"
